<h2>Edit Quote</h2>

<mat-form-field appearance="fill">
  <mat-label>Quote Text</mat-label>
  <textarea matInput rows="4" [(ngModel)]="quote.text"></textarea>
</mat-form-field>

<br>

<mat-form-field appearance="fill">
  <mat-label>Author</mat-label>
  <mat-select [(ngModel)]="quote.authorId">
    <mat-option *ngFor="let a of authors" [value]="a.id">
      {{ a.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<br>
<br>

<button mat-raised-button color="primary" (click)="save()">Save</button>
