<mat-toolbar color="primary" class="nav-bar">
  <span>QuoteQuiz</span>

  <span class="spacer"></span>

  <!-- Show username only when logged in -->
  @if (isLoggedIn){
  <span class="username">👤 {{ userName }}</span>
  }
  <span class="spacer"></span>

  <!-- Navigation buttons (only when logged in) -->
  @if (isLoggedIn) {
  <button mat-button routerLink="/quiz">Quiz</button>
  <button mat-button routerLink="/settings">Settings</button>
  <button mat-button [routerLink]="['/reviews', userId]">Reviews</button>
  @if (isAdmin){
  <button mat-button routerLink="/users">Users</button>
  <button mat-button routerLink="/quotes">Quotes</button>
  }
  <button mat-button (click)="logout()">Logout</button>

  }
  @else {
  <button mat-button routerLink="/login">Login</button>
  }



</mat-toolbar>
